@import "tailwindcss";

@theme{ 
  --color-background:#1a1a1a;
  --color-primary:#2d2d2d;
  --color-navbar:#0f0f0f;
  --color-accent:#6b6b6b;
  --color-hr:#6b6b6b;
  --color-accent-text:#999999;
  --color-normtex:#bfbfbf;
}

@layer base {
  * {
    font-family: "Lexend Deca", sans-serif;
    outline: 0;
  }

  body {
    @apply bg-[#1a1a1a];
  }
}

@layer components {
  .slider {
    @apply h-2 rounded-md outline-none opacity-70 transition-opacity;
    -webkit-appearance: none;
    background: #5d5d5d;
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;

    @apply size-3.75 cursor-pointer rounded-full;
    background: #01e258;
  }

  .dont-point {
    @apply pointer-events-none cursor-not-allowed opacity-35;
  }

  .input-style {
    @apply text-white bg-[#434343] p-2 rounded-sm focus:outline-1
     focus:outline-[#6b6b6b] hover:outline-[#6b6b6b]  hover:outline-1;
  }

  .select {
    @apply bg-[#434343] p-1 text-white text-sm rounded-sm;
  }

  .toolbar-btn {
    @apply flex items-center justify-center  hover:text-[#01e258]!
    transition-all ease-in
    h-full pt-2 pb-2 w-12 cursor-pointer;
  }

  .properties-btn-label {
    @apply absolute top-2 right-2 font-bold text-white/50;
  }
}

@layer utilities {
  @media (min-width: 600px) {
    #layers::-webkit-scrollbar {
      width: 5px;
    }

   #properties::-webkit-scrollbar{
      width: 5px;
    }

    #layers::-webkit-scrollbar-track {
      background: #2d2d2d;
    }

    #layers::-webkit-scrollbar-thumb {
      background-color: #6b6b6b;
      border-radius: 5px;
    }

     #properties::-webkit-scrollbar-track {
      background: #2d2d2d;
    }

    #properties::-webkit-scrollbar-thumb {
      background-color: #6b6b6b;
      border-radius: 5px;
    }
  }
}