@import "tailwindcss";

@layer base {
  * {
    font-family: "Ubuntu", sans-serif;
    outline: 0;
  }

  body {
    @apply bg-[#004744];
  }
}

@layer components {
  .slider {
    @apply h-2 rounded-md outline-none opacity-70 transition-opacity;
    -webkit-appearance: none;
    background: #536755;
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;

    @apply size-3.75 cursor-pointer rounded-full;
    background: oklch(72.3% 0.219 149.579);
  }

  .dont-point {
    @apply pointer-events-none cursor-not-allowed opacity-35;
  }

  .input-style {
    @apply text-white bg-[#022e2c] p-2 rounded-md focus:outline-1
     focus:outline-lime-400 hover:outline-lime-400  hover:outline-1;
  }

  .select {
    @apply bg-green-600 text-black text-sm rounded-sm;
  }
}

@layer utilities {
  @media (min-width: 600px) {
    #layers::-webkit-scrollbar {
      width: 5px;
    }

    #layers::-webkit-scrollbar-track {
      background: #002322;
    }

    #layers::-webkit-scrollbar-thumb {
      background-color: #4b634a;
      border-radius: 5px;
    }
  }
}
