@import "tailwindcss";

* {
  font-family: "Ubuntu", sans-serif;
}

body {
  background-color: #004744;
}
.slider {
  -webkit-appearance: none;
  height: 8px;
  border-radius: 5px;
  background: #536755;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: oklch(72.3% 0.219 149.579);
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  #layers::-webkit-scrollbar {
    width: 5px;
  }

  #layers::-webkit-scrollbar-track {
    background: #002322;
  }

  #layers::-webkit-scrollbar-thumb {
    background-color: #4b634a;
    border-radius: 5px;
    border: 10px none #ffffff;
  }
}
